<!-- Seção de Produtos -->
<section>
  <h2>Produtos:</h2>

  <!-- Estado 1: Loading -->
  @if (carregando()) {
    <p>Carregando produtos...</p>
  }

  <!-- Estado 2: Erro -->
  @if (erro()) {
    <p style="color: red">
      {{ erro() }}
    </p>

    <button (click)="carregarProdutos()">Tentar novamente</button>
  }

  <!-- Estado 3: Sucesso -->
  @if (!carregando() && !erro()) {
    <p>Total de produtos: {{ totalProdutos() }}</p>

    <hr />

    <section class="grid-produtos">
      @for (item of produtos(); track $index) {
        <app-produto
          [nome]="item.nome"
          [preco]="item.preco"
          (produtoSelecionado)="exibirProduto($event)"
          (produtoAdicionado)="adicionarAoCarrinho($event)"
        />
      }
    </section>
  }

  <h2>
    Produto selecionado:
    @if (produtoSelecionado()) {
      <strong style="color: green">{{ produtoSelecionado() }}</strong>
    } @else {
      <span style="color: gray">Nenhum</span>
    }
  </h2>

  <button mat-raised-button color="primary" (click)="adicionarProduto()">
    Adicionar Produto
  </button>
  
  <button mat-stroked-button color="accent" (click)="substituirProdutos()">
    Substituir Lista
  </button>
  
  <h2>Total de produtos: {{ totalProdutos() }}</h2>
  <h3>Valor total: R$ {{ valorTotal().toFixed(2) }}</h3>
</section>

<!-- Seção do Carrinho -->
<section>
  <hr />

  <h2>Carrinho:</h2>

  @for (item of carrinhoFacade.itens(); track $index) {
    <p>{{ item.nome }} - R$ {{ item.preco.toFixed(2) }}</p>
  }
  
  <h3>Itens no carrinho: {{ carrinhoFacade.quantidade() }}</h3>
  <h3>Total do Carrinho: R$ {{ carrinhoFacade.total().toFixed(2) }}</h3>
</section>
