.grid-produtos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media (min-width: 600px) {
    .grid-produtos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 900px) {
    .grid-produtos {
      grid-template-columns: repeat(3, 1fr);
    }
  }