<h2>Checkout</h2>

@if (compraFinalizada()) {
  <p style="color: green">Compra finalizada com sucesso!</p>
}

@if (carrinhoService.carrinhoVazio()) {
  <p style="color: red">Seu carrinho está vazio. Adicione produtos antes de finalizar a compra.</p>
} @else {
  <section>
    <h3>Resumo do pedido</h3>

    @for (item of carrinhoService.itens(); track $index) {
      <p>{{ item.nome }} - R$ {{ item.preco.toFixed(2) }}</p>
    }

    <h3>Total: R$ {{ carrinhoService.total().toFixed(2) }}</h3>
  </section>
}

<form [formGroup]="formulario">
  <p><input type="text" formControlName="nome" placeholder="Nome" /></p>

  @if (formulario.get('nome')?.touched && formulario.get('nome')?.invalid) {
    @if (formulario.get('nome')?.errors?.['required']) {
      <small>Nome é obrigatório</small>
    }

    @if (formulario.get('nome')?.errors?.['minlength']) {
      <small>Nome deve ter no mínimo 3 caracteres</small>
    }

    @if (formulario.get('nome')?.errors?.['numeroInvalido']) {
      <small>Nome não pode conter números</small>
    }
  }

  <p><input type="email" formControlName="email" placeholder="E-mail" /></p>

  @if (formulario.get('email')?.touched && formulario.get('email')?.invalid) {
    @if (formulario.get('email')?.errors?.['required']) {
      <small>Email é obrigatório</small>
    }

    @if (formulario.get('email')?.errors?.['email']) {
      <small>Email inválido</small>
    }
  }

  <p><input type="text" formControlName="endereco" placeholder="Endereco" /></p>

  @if (formulario.get('endereco')?.touched && formulario.get('endereco')?.invalid) {
    @if (formulario.get('endereco')?.errors?.['required']) {
      <small>Endereço é obrigatório</small>
    }

    @if (formulario.get('endereco')?.errors?.['minlength']) {
      <small>Endereço deve ter no mínimo 5 caracteres</small>
    }
  }

  <p>
    <button type="button" (click)="finalizar()" [disabled]="formulario.invalid">
      Finalizar Compra
    </button>
  </p>
</form>
