<mat-toolbar color="primary">
  <span>Minha Loja</span>

  <span class="flex-spacer"></span>

  <button mat-button routerLink="/produtos">Produtos</button>
  <button mat-button routerLink="/carrinho">Carrinho ({{ quantidade() }})</button>
  <button mat-button routerLink="/checkout">Checkout</button>
  <button mat-button routerLink="/admin">Admin</button>

  @if (estaLogado()) {
    <span>{{ usuarioAtual()?.email }}</span>
    <button mat-button type="button" (click)="sair()">Sair</button>
  } @else {
    <button mat-button routerLink="/login">Entrar</button>
  }
</mat-toolbar>
